body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header .sort {
  margin-top: 10px;
}

header .sort label {
  font-weight: bold;
}

header .sort select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.computer {
  border: 1px solid #ddd;
    border-radius: 10px;
    width: calc(33% - 40px); 
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.computer:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.computer img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.computer h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #2c3e50;
}

.computer p {
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #666;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
